<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>StudentManagementSystem</display-name>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  
  <servlet>
    <servlet-name>JoinclassServlet</servlet-name>
    <servlet-class>com.sms.servlet.JoinclassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinclassServlet</servlet-name>
    <url-pattern>/JoinclassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddinformServlet</servlet-name>
    <servlet-class>com.sms.servlet.AddinformServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddinformServlet</servlet-name>
    <url-pattern>/AddinformServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PasswordServlet</servlet-name>
    <servlet-class>com.sms.servlet.PasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordServlet</servlet-name>
    <url-pattern>/PasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserinfoServlet</servlet-name>
    <servlet-class>com.sms.servlet.UserinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserinfoServlet</servlet-name>
    <url-pattern>/UserinfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateclassServlet</servlet-name>
    <servlet-class>com.sms.servlet.CreateclassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateclassServlet</servlet-name>
    <url-pattern>/CreateclassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuitclassServlet</servlet-name>
    <servlet-class>com.sms.servlet.QuitclassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuitclassServlet</servlet-name>
    <url-pattern>/QuitclassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.sms.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>com.sms.servlet.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/CheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.sms.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>